[*.cs]

# CA2208: Правильно создавайте экземпляры исключений аргументов
dotnet_diagnostic.CA2208.severity = none

# CA2227: Свойства коллекций должны быть доступны только для чтения
dotnet_diagnostic.CA2227.severity = none

# IDE0049: Упрощение имен
dotnet_style_predefined_type_for_member_access = true:none

# IDE0049: Упрощение имен
dotnet_style_predefined_type_for_locals_parameters_members = true:none

# CA1040: Не используйте пустые интерфейсы
dotnet_diagnostic.CA1040.severity = none

# CA1710: Идентификаторы должны иметь правильные суффиксы
dotnet_diagnostic.CA1710.severity = none

# CA1062: Проверить аргументы или открытые методы
dotnet_diagnostic.CA1062.severity = none

# IDE0055: Исправить форматирование
dotnet_diagnostic.IDE0055.severity = none

# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = none
